{% load blog_tags %}
<aside>
  <div class="side-box">
    <h2>Browse Categories</h2>
    {% for category in categories %}
    <a href="{% url 'blogapp:category' category.slug %}" class="category-link"
      >{{category.name}}</a
    >
    {% endfor %}
  </div>

  <div class="side-box">
    <h2>Tags</h2>
    {% for tag in all_tags %}
    <a href="{% url 'blogapp:posts_by_tag' tag.slug %}" class="tag-link"
      >#{{tag.name}}</a
    >

    {% endfor %}
  </div>

  <div class="side-box">
    <h2>Recent Posts</h2>

    {% show_latest_posts 4 %}
  </div>
</aside>
